






<div class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>


    <div class="col-xs-3">
      <sidebar>
        <h2>User info</h2>

        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", style: "margin-bottom: 10px;"%>

        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th><%=@user.name %></th>
            </tr>
            <th>introduction</th>
            <th><%=@user.introduction %></th>
          </tbody>
        </table>

        <p><%= link_to "",edit_user_path(current_user.id) ,class: "btn btn-block btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %></p>

        <h2>New book</h2>

        <%= form_for(@book) do |f| %>
        <p class="row">
          <%= f.label :title, "Title" %><br>
          <%= f.text_field :title,:size=>"40" %>
        </p>
        <p class="row">
          <%= f.label :body, "Body" %><br>
          <%= f.text_area :body,:size=>"39" %>
        </p>
        <p class="row">
          <%= f.submit "Create Book", class: "btn btn-block btn-primary" %>
        </p>
        <% end %>






      </sidebar>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-xs-9">
         <h2>Books</h2>
         <table class="table table=striped">
           <thead>
             <tr>
               <th class="col-md-3"></th>
              <th class="col-md-5">Title</th>
              <th class="col-md-3">Body</th>
              <th class="col-md-1"></th>
            </tr>
          </thead>
          <% @books.each do |books| %>
            <tbody>
              <tr>
                <td><%= attachment_image_tag books.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"  %></td>
                <td> <%= link_to books.title,book_path(books.id) %> </td>
                <td> <%= books.body %> </td>
              </tr>
          </tbody>
          <% end%>
        </table>
      </div>

    </div>



       <footer>
         <div class="container">
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3"><p>CopyRight Infratop.inc</p></div>
          </div>
        </div>
      </footer>

