



<div class="container">
  <div class="row">

<p id="notice"><%= notice %></p>
      <div class="col-xs-3">
<sidebar>
  <h2>User info</h2>

        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", style: "margin-bottom: 10px;"%>

        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th><%=@user.name %></th>
            </tr>
            <th>introduction</th>
            <th><%=@user.introduction %></th>
          </tbody>
        </table>

        <p><%= link_to "",edit_user_path(current_user.id) ,class: "btn btn-block btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %></p>

        <h2>New book</h2>

        <%= form_for(@book) do |f| %>
        <p class="row">
          <%= f.label :title, "Title" %><br>
          <%= f.text_field :title,:size=>"40" %>
        </p>
        <p class="row">
          <%= f.label :body, "Body" %><br>
          <%= f.text_area :body,:size=>"39" %>
        </p>
        <p class="row">
          <%= f.submit "Create Book", class: "btn btn-block btn-primary" %>
        </p>
        <% end %>


</sidebar>
</div>

<div class="container">
	 <div class="row">

      <div class="col-xs-9">
       <h2>Book detail</h2>
       <table>
        <% if @user.id==current_user.id %>
        <tr>
              <td  class="col-md-2"><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"  %><%= link_to @user.name,user_path(@user.id),class: "user_#{@user.id}" %></td>
              <td  class="col-md-3"><%= @book_id.title %></td>
              <td  class="col-md-5"><%= @book_id.body %></td>
              <td  class="col-md-1"><%= link_to "Edit",edit_book_path,class: "btn btn-success btn-sm edit_book_#{@book_id.id}" %></td>
              <td  class="col-md-1"><%= link_to "Destroy",book_path,method: :delete,data: {confirm: "本当に消しますか？"},class: "btn btn-danger btn-sm destroy_book_#{@book_id.id}" %>
              </td>
            </tr>
            <% else %>
            <tr>
              <td  class="col-md-6"><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg",class: "img-responsive"  %><%= link_to @user.name,user_path(@user.id),class: "user_#{@user.id}" %></td>
              <td class="col-md-5"><%= @book_id.title %></td>
              <td class="col-md-1"><%= @book_id.body %></td>
            </tr>
            <% end %>
      </table>
</div>
</div>

        </div>
    </div>
</div>
<footer>
	<div class="container">
		<div class="row">
		<div class="col-md-9"></div>
		<div class="col-md-3"><p>CopyRight Infratop.inc</p></div>
	</div>
</div>
</footer>


